@charset "UTF-8";
/**
*
* VARIABLES
*
**/
/**
*
* GENERAL 
*
**/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1; }

html, body {
  padding: 0;
  margin: 0; }

body {
  background: #fff;
  color: #4E5052;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 100; }

ul, p {
  font-size: 13px;
  line-height: 1.4; }

p {
  margin: 3px 0; }

h1 {
  font-size: 30px;
  margin: 5px 0;
  color: #942645;
  line-height: 1.1; }

section h1 {
  font-size: 22px; }

h2 {
  font-size: 22px;
  margin: 3px 0;
  line-height: 25px; }

h2.sub-heading {
  font-size: 28px; }

h3 {
  font-size: 19px;
  margin: 3px 0;
  line-height: 1.1;
  font-weight: normal; }

h4 {
  font-size: 20px;
  font-weight: normal; }

h5 {
  font-size: 13px;
  color: #942645;
  margin: 10px 0;
  line-height: 1.1; }

a:link, a:visited {
  color: #00758F;
  text-decoration: none; }

a:hover, a:active {
  color: #003B4D;
  text-decoration: none; }

a.button, .button {
  margin-top: .5rem;
  font-size: 16px;
  color: #fff;
  background: url("../img/button.png") top left no-repeat;
  padding: 0.75rem 2rem;
  display: inline-block; }

a.button:hover, .button:hover {
  background: url("../img/button-hover.png") top left no-repeat; }

strong {
  font-weight: bold; }

ul {
  list-style-type: none;
  padding-left: 0; }
  ul li {
    position: relative;
    margin-left: 30px;
    margin-bottom: 0.5rem; }
  ul li:before {
    content: '•';
    font-size: 1.5em;
    line-height: .75;
    position: absolute;
    left: -30px;
    top: 0; }

.upper {
  text-transform: uppercase; }

img {
  max-width: 100%; }

.image-cover {
  width: 100%; }

br {
  display: none; }

.hide-small {
  display: none; }

/**
*
* COLORS 
*
**/
.primary-color {
  color: #942645; }

.secondary-color {
  color: #00758F; }

.medium-gray {
  color: #DEE0E0; }

.dark-gray {
  color: #4E5052; }

.light-blue {
  color: #DEE0E0; }

.deep-blue {
  color: #003B4D; }

/**
*
* LAYOUT 
*
**/
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.row {
  max-width: 1140px;
  padding: 0.75rem;
  margin: auto;
  position: relative; }

.row.no-padding-top, .no-padding-top {
  padding-top: 0; }

.row.no-padding-bottom, .no-padding-bottom {
  padding-bottom: 0; }

.row.no-padding, .no-padding {
  padding: 0; }

.row.no-padding-sides, .no-padding-sides {
  padding-left: 0;
  padding-right: 0; }

/**
*
* OTHER 
*
**/
.header .logo {
  position: absolute;
  right: 1rem;
  top: 0; }
.header h2 {
  font-size: 18px; }

.column-with-icon {
  padding: 0.5rem 1.5rem 1.5rem;
  margin-bottom: 1.5rem;
  position: relative; }
  .column-with-icon:before {
    content: "";
    position: absolute;
    border: 15px solid transparent;
    bottom: -30px;
    left: 50%;
    display: block;
    width: 0; }
  .column-with-icon:nth-child(1) {
    background-image: url(../img/box-icon-1.png);
    background-position: top right;
    background-repeat: no-repeat; }
  .column-with-icon:nth-child(2) {
    background-image: url(../img/box-icon-2.png);
    background-position: top right;
    background-repeat: no-repeat; }
  .column-with-icon:nth-child(3) {
    background-image: url(../img/box-icon-3.png);
    background-position: top right;
    background-repeat: no-repeat;
    margin-bottom: 0; }

.one img {
  padding: 2rem 0 1rem;
  max-width: 80%;
  margin: auto;
  display: block; }

.two {
  text-align: center; }
  .two .flex-container {
    display: block;
    max-width: 300px; }
  .two h2 {
    margin-top: 2rem; }
  .two br {
    display: block; }

.three img {
  padding: 1rem 0 1rem;
  max-width: 90%;
  margin: auto;
  display: block; }

.four .column-6 img {
  padding: 1rem 0 1rem;
  max-width: 90%;
  margin: auto;
  display: block; }
.four h2 {
  font-size: 14px;
  color: #942645;
  font-weight: bold; }
.four .column-with-icon {
  background-color: #fff; }
  .four .column-with-icon:last-child:before {
    border: none; }
  .four .column-with-icon:before {
    border-top-color: #fff; }

.five .column-6 img {
  padding: 1rem 0 1rem;
  max-width: 90%;
  margin: auto;
  display: block; }
.five h2 {
  font-size: 14px;
  color: #942645;
  font-weight: bold; }
.five .column-with-icon {
  background-color: #DEE0E0; }
  .five .column-with-icon:last-child:before {
    border: none; }
  .five .column-with-icon:before {
    border-top-color: #DEE0E0; }

.six .column-6 img {
  padding: 1rem 0 1rem;
  max-width: 90%;
  margin: auto;
  display: block; }
.six h2 {
  font-size: 14px;
  color: #942645;
  font-weight: bold; }
.six .column-with-icon {
  background-color: #fff; }
  .six .column-with-icon:last-child:before {
    border: none; }
  .six .column-with-icon:before {
    border-top-color: #fff; }

.seven {
  text-align: right; }
  .seven .row {
    text-align: left; }
  .seven p {
    color: #003B4D; }
  .seven h1 {
    font-weight: normal; }

.gray-bg {
  background: #DEE0E0; }

.blue-bg {
  background: #CAD9DE; }

.row.footer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.row.footer a:link,
.row.footer a:visited {
  color: #4E5052; }

.row.footer a:active,
.row.footer a:hover {
  color: #111; }

/**
*
* MEDIA QUERIES 
*
**/
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  body {
    font-size: 17px; }

  ul, p {
    font-size: 17px; }

  h1 {
    font-size: 36px; }

  section h1 {
    font-size: 29px; }

  h2 {
    font-size: 29px; }

  h3 {
    font-size: 22px; }

  h4 {
    font-size: 17px; }

  h5 {
    font-size: 15px; }

  br {
    display: block; }

  .row {
    padding: 2rem 6rem; }

  .row.less-padding-top, .less-padding-top {
    padding-top: 1.4rem; }

  .main-container {
    /* max-width: 1600px; */
    max-width: 1140px;
    margin: auto; }

  .flex-container {
    flex-direction: row;
    justify-content: space-evenly; }

  .column-8 {
    width: calc(100% / 1.5); }

  .column-6 {
    width: calc(100% / 2); }

  .column-5 {
    width: calc(100% / 2.4); }

  .column-4 {
    width: calc(100% / 3); }

  .column-3 {
    width: calc(100% / 4); }

  .column-2 {
    width: calc(100% / 6); }

  .column-with-icon {
    padding: 0.5rem 1rem 1.5rem 1.5rem;
    margin-right: 1.5rem;
    position: relative;
    height: 300px; }
    .column-with-icon:before {
      content: "";
      position: absolute;
      border: 15px solid transparent;
      bottom: 160px;
      right: -30px;
      left: auto;
      display: block;
      width: 0; }
    .column-with-icon:nth-child(3) {
      margin-right: 0; }
    .column-with-icon p {
      font-size: 16px; }

  .hide-large {
    display: none; }

  .hide-small {
    display: block; }

  .header {
    position: relative;
    background-repeat: no-repeat;
    background-position: center top; }
    .header .row {
      position: absolute;
      top: 0; }
    .header .logo {
      margin-right: 2rem;
      position: absolute; }
    .header .container {
      position: absolute;
      top: 7rem;
      left: 6rem; }
    .header h2 {
      font-size: 20px; }

  .one {
    margin-top: -5rem;
    background: transparent; }
    .one img {
      padding: 0; }

  .two .flex-container {
    display: flex;
    max-width: 100%; }
  .two .column-8 {
    margin: auto; }
  .two h2 {
    font-size: 22px;
    font-weight: normal; }
  .two .row .row {
    padding: 0; }
  .two .row .row br {
    display: none; }
  .two .column {
    width: 33.333%;
    padding: 1.5rem 1rem 4rem;
    position: relative; }
  .two h4 {
    position: absolute;
    bottom: 0;
    left: 1px;
    right: 1px; }
  .two img {
    width: initial;
    margin: 0 auto; }

  .three .row {
    justify-content: space-between; }
  .three img {
    padding: 0;
    max-width: 100%; }

  .four .flex-container {
    justify-content: space-between; }
  .four img {
    padding: 0;
    max-width: 100%; }
  .four .column-with-icon:last-child:before {
    border: none; }
  .four .column-with-icon:before {
    border-left-color: #fff;
    border-top-color: transparent; }

  .five .flex-container {
    justify-content: space-between; }
  .five img {
    padding: 0;
    max-width: 100%; }
  .five .column-with-icon:last-child:before {
    border: none; }
  .five .column-with-icon:before {
    border-left-color: #DEE0E0;
    border-top-color: transparent; }

  .six .flex-container {
    justify-content: space-between; }
  .six img {
    padding: 0;
    max-width: 100%; }
  .six .column-with-icon:last-child:before {
    border: none; }
  .six .column-with-icon:before {
    border-left-color: #fff;
    border-top-color: transparent; }

  .seven .row {
    justify-content: space-between;
    align-items: middle; }
  .seven img {
    position: absolute;
    right: 0;
    top: 0;
    width: 400px; } }
/* Medium Devices, Desktops */
@media only screen and (min-width: 991px) {
  h1 {
    font-size: 44px; }

  .header .container {
    top: 10rem;
    left: 9rem; }
  .header h2 {
    font-size: 23px; }

  .column-with-icon {
    height: 165px; }
    .column-with-icon:before {
      bottom: 75px; }

  .seven {
    height: 288px; }
    .seven .column-5 {
      margin-top: 2rem; }
    .seven img {
      width: auto; } }
/* Large Devices, Wide Screens */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles */ }

/*# sourceMappingURL=style.css.map */
