@charset "UTF-8";

/**
*
* VARIABLES
*
**/

$wine: #942645;
$medium-grey: #DEE0E0;
$dark-gray: #4E5052;
$deep-gray: #414748;
$light-blue: #CAD9DE;
$dark-blue: #00758F;
$deep-blue: #003B4D;

/**
*
* GENERAL 
*
**/

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1;
}

body {
	background: #dadee0;
	color: $dark-gray;
	font-family: Arial, Helvetica, sans-serif;
	&body {
		font-size: 12px;
		line-height: 1.7;
		font-weight:100;
	}
}

.container {
	width: 1170px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

p {
	font-size: 13px;
}

h1 {
	font-size: 30px;
	color: $wine;
}

h2 {
	font-size: 22px;
	color: $wine;
}

h3 {
	font-size: 19px;
}

h4 {
	font-size: 14px;
	color: $wine;
}

h5 {
	font-size: 13px;
	color: $wine;
}

strong {
	font-weight: bold;
}

.button {
	font-size: 16px;
}

.sub-heading {
	font-size: 18px;
}

/**
*
* COLORS 
*
**/

.primary-color { 
	color: $wine; 
}
.secondary-color { 
	color: $dark-blue; 
}
.medium-gray { 
	color: $medium-grey; 
}
.dark-gray { 
	color: $dark-gray; 
}
.light-blue { 
	color: $medium-grey; 
}
.deep-blue { 
	color: $deep-blue; 
}



/**
*
* MEDIA QUERIES 
*
**/

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 991px) {
	p {
		font-size: 17px;
	}

	h1 {
		font-size: 44px;
	}

	h2 {
		font-size: 29px;
	}
	h3 {
	font-size: 22px;
	}

	h4 {
		font-size: 17px;
	}

	h5 {
		font-size: 15px;
	}
	
	.sub-heading {
		font-size: 29px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}




